@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(26, 25, 25);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: space-around;
    align-items: center;

}